In [1]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import numpy as np
import os
from sqlalchemy import create_engine #for redshift connection

print("done")

done

In [2]:
creds = pd.read_csv("~/Documents/Projects/DS/redshift_creds.csv")

In [3]:
REDSHIFT_USERNAME = creds['user'][0]
REDSHIFT_PASSWORD = creds['password'][0]
print(REDSHIFT_USERNAME)
conn_str = f'postgresql+psycopg2://{REDSHIFT_USERNAME}:{REDSHIFT_PASSWORD}@localhost:5439/redshiftdb?sslmode=prefer'

vicky_banks

In [31]:
features = pd.read_sql_query('SELECT audience_id,page_section, topic_perc FROM central_insights_sandbox.vb_page_topics_perc LIMIT 10;', conn_str)
features.info()
features = features.set_index(['audience_id','page_section'])
features.head(n=10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   audience_id   10 non-null     object
 1   page_section  10 non-null     object
 2   topic_perc    10 non-null     float64
dtypes: float64(1), object(2)
memory usage: 368.0+ bytes

                                                                     topic_perc
audience_id                                 page_section
--1NIsDcc1e0uee86r4vZ3U38PD46MKNMaOlhlogdLQ world                          1.00
--3SzakMhaAgS_q3caPmtS5cDP52vqrJctUkj5h8a2w world                          0.18
                                            cumbria                        0.02
                                            technology                     0.02
                                            scotland_business              0.02
                                            south_yorkshire                0.02
                                            science_and_environment        0.02
                                            manchester                     0.02
                                            uk                             0.22
                                            business                       0.26

In [32]:
features = features.unstack('page_section', fill_value = 0)

In [33]:
features.head(n=10)

                                            topic_perc                     \
page_section                                  business cumbria manchester
audience_id
--1NIsDcc1e0uee86r4vZ3U38PD46MKNMaOlhlogdLQ       0.00    0.00       0.00
--3SzakMhaAgS_q3caPmtS5cDP52vqrJctUkj5h8a2w       0.26    0.02       0.02

                                                                     \
page_section                                science_and_environment
audience_id
--1NIsDcc1e0uee86r4vZ3U38PD46MKNMaOlhlogdLQ                    0.00
--3SzakMhaAgS_q3caPmtS5cDP52vqrJctUkj5h8a2w                    0.02

                                                                               \
page_section                                scotland_business south_yorkshire
audience_id
--1NIsDcc1e0uee86r4vZ3U38PD46MKNMaOlhlogdLQ              0.00            0.00
--3SzakMhaAgS_q3caPmtS5cDP52vqrJctUkj5h8a2w              0.02            0.02


page_section                                technology    uk world
audience_id
--1NIsDcc1e0uee86r4vZ3U38PD46MKNMaOlhlogdLQ       0.00  0.00  1.00
--3SzakMhaAgS_q3caPmtS5cDP52vqrJctUkj5h8a2w       0.02  0.22  0.18